
body {
	font-family: 'Roboto', Arial, sans-serif;
}

#paddle-animation {
	height: 200px;
  }

.btn-login {
	min-width: 100%;
	height: 3.2rem;
}

nav{
	height: 3.75rem;
	/* border-radius: 0 0 0.75rem 0.75rem; */
}
/* 
nav ul li a {
	color: var(--bs-blacky) !important;
} */
